.search_properties {
  padding: 30px;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  max-width: 1170px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify: space-between;
  justify-content: space-between;
  gap: 1rem;
  gap-x: 3px;
  position: relative;
  top: -4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  background-color: #ffffff;
  backdrop-filter: blur(10px);
  border-radius: 0.5rem;
}

@media (min-width: 1024px) {
  top: -1rem;
  background-color: transparent;
  flex-direction: row;
  column-gap: 0.75rem;
  backdrop-blur: blur(8px);
}

.option__title {
  font-weight: 500;
  line-height: 1.25;
  font-size: 15px;
  color: #4a5568;
  width: 100%;
  cursor: pointer;
}

.navbar {
  height: var(--nav-size);
}

.navbar-nav {
  max-width: 100%;
  height: 100%;
  display: flex;
}

.nav-item {
  height: 100%;
}

.icon-button {
  --button-size: calc(var(--nav-size) * 0.5);
  width: var(--button-size);
  height: var(--button-size);
  background-color: white;
  border: none;
  display: flex;
  cursor: pointer;
  font-weight: bolder;
}

.icon-button:hover {
  filter: brightness(1.2);
}

.icon-button svg {
  fill: var(--text-color);
  width: 20px;
  height: 20px;
  font-size: 1.5rem;
  line-height: 2rem;
  margin-right: 18px;
}

/* Dropdown Menu */

.dropdown {
  position: relative;
}

.menu {
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--bg);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;

  /* Hide the menu by default */
  display: none;

  /* Add animation */
  transition: all 300ms;

  /* Add padding */
  padding: 0.5rem 0;
}

.dropdown__button {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  color: var(--text-color);
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: filter 300ms;
}

.menu-item .icon-button {
  margin-right: 0.5rem;
}

.menu-item .icon-button:hover {
  filter: none;
}

.menu-item:hover {
  background-color: #525357;
}

.icon-right {
  margin-left: auto;
}
